/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografías y colores base */
body {
    font-family: 'Helvetica', sans-serif;
}

/* Estilo página de inicio */
header {
    background-color: #525355;
    color: #FCF9F3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .intro h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

header .intro h2 {
    font-size: 2rem;
}

nav ul {
    display: flex;
    gap: 20px;
    position: fixed;
    bottom: 20px;
    list-style: none;
}

nav ul li a {
    color: #FCF9F3;
    text-decoration: none;
    font-weight: normal;
    transition: font-weight 0.3s ease;
}

nav ul li a:hover {
    font-weight: bold;
}

/* Secciones comunes */
section {
    padding: 60px 20px;
    text-align: center;
}

section#curriculum,
section#about-me,
section#works {
    background-color: #FCF9F3;
    color: #525355;
}

section#contact {
    background-color: #525355;
    color: #FCF9F3;
}

/* About Me */
.about-box {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #525355;
    background-color: #FCF9F3;
    color: #525355;
}

/* Trabajos (galería) */
.work-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

/* Botón fijo para navegación */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

footer {
    text-align: center;
    background-color: #525355;
    color: #FCF9F3;
    padding: 10px;
}

div {
    margin-top: 20px;    /* Margen en la parte superior */
    margin-right: 15px;  /* Margen en el lado derecho */
    margin-bottom: 25px; /* Margen en la parte inferior */
    margin-left: 10px;   /* Margen en el lado izquierdo */
    }
    